<h1>Edit A New Guests</h1>

<%= form_for @guests do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :occupation %>:
  <%= f.text_field :occupation %><br />

  <%= f.submit %>
<% end %>