<h1><%= @guest.name %></h1>

<div>
  Links:
  <br>
  <%= link_to "Guest Index", guests_path %>
  <br>
  <%= link_to "Episode Index", episodes_path %>
  <br>
  <%= link_to "New Appearance", new_appearance_path %>
</div>

<p><%= @guest.occupation.capitalize %></p>
