<h1> This is the show page for <%= @guest.name %>. </h1>

<p> Their occupation is: <%= @guest.occupation %>. Good for them, I guess. </p>


<%= link_to "back to all the guests", guests_path %>

<% if @guest.appearances.length > 0 %>

<h2> Here are all the episodes of the colbert show that they've appeared on: </h2>
<ol>
<% @guest.appearances.each do |appearance| %>
    
<li>  Episode number <%= appearance.episode.number %>, which aired on <%= appearance.episode.date %></li> 
<% end %>

</ol>
<%else %>
<p> They haven't appeared on Colbert yet. How sad. </p>
<%end %>