<marquee BEHAVIOR=ALTERNATE><h1>New Appearance</h1></marquee>

<%= link_to "All Episodes", episodes_path %><br>
<%= link_to "All Guests", guests_path %><br>

<% if flash[:errors] %>
    <ul>
        <% flash[:errors].each do |err| %>
            <li>
                <%= err %>
            </li>
        <% end %>
    </ul>
<% end %>

<%= form_for @appearance do |f| %>
    <%= f.label :guest_id %><br>
    <%= f.collection_select(:guest_id, @guests, :id, :name) %><br>
    <%= f.label :episode_id %><br>
    <%= f.collection_select(:episode_id, @episodes, :id, :number) %><br>
    <%= f.label :rating %><br>
    <%= f.number_field :rating %><br>
    <%= f.submit %><br>
<% end %>
